// Color palette
@palette-beige:#e6e0d2;
@palette-forest-green:#3f6235;
@palette-gold:#c1a236;
@palette-ice-blue:#d3dddf;
@palette-violet:#9b93b5;
@palette-chartreuse:#a7ae10;
@palette-brown:#443b38;

@mast-background:#141519;

@ribbon-back-offset:6px;
@ribbon-wrap-width:16px;
@ribbon-wrap-height:@ribbon-back-offset;