@import (reference) "_variables";
@import (reference) "bootstrap/_variables";
@import (reference) "bootstrap/less/mixins";

html
{
  position:relative;
  min-height:100%;
}

body
{
  margin-bottom:300px;

  > .container
  {
    padding-top:20px;
    padding-bottom:40px;
  }

  background-image:url('/images/texture.png');
}

.nav-anchor
{
  display:block;
  visibility:hidden;
  position:relative;
  top:-55px;
}

.cuties
{
  max-width:100%;

  @media (max-width: @screen-xs-max)
  {
    margin:15px 0;
  }
}

.google-map
{
  border:3px solid #fff;
  .box-shadow(0 1px 2px 1px rgba(0,0,0,0.07));
  margin-top:22px;

  iframe&
  {
    width:100%;
    height:250px;
  }
}

.btn-honeyfund
{
  position:relative;
  top:0;
  left:0;
  padding-left:45px;
  margin:20px 0;

  .honeyfund-logo
  {
    position:absolute;
    left:6px;
    bottom:4px;
  }
}

.primary-navbar
{
  &.navbar
  {
    border:none;
  }

  &.navbar-fixed-top
  {
    background:url('/images/texture.png') @palette-brown;
    padding:10px 0;
    min-height:25px;
    .box-shadow(0 0 0 rgba(0,0,0,0));
    .translate(0, -100%);
    .transition(~"-webkit-transform 250ms ease-out, -ms-transform 250ms ease-out, -o-transform 250ms ease-out, transform 250ms ease-out, box-shadow 250ms ease-out, -webkit-box-shadow 250ms ease-out");
  
    .navbar-toggle
    {
      margin-top:0;
      margin-bottom:0;
    }

    &.in
    {
      .box-shadow(0 2px 5px rgba(0,0,0,0.25));
    .translate(0, 0);
    }

    .navbar-brand
    {
      height:25px;
      padding-top:5px;
      padding-bottom:5px;
    }

    .navbar-collapse
    {
      &.collapse.in,
      &.collapsing
      {
        .navbar-nav
        {
          background:none;
        }
      }
    }

    .navbar-nav
    {
      > li
      {
        > a
        {
          font-size:18px;
          .opacity(0.5);
          .transition(opacity 150ms ease-out);

          // Uncollapse the nav
          @media (min-width: @grid-float-breakpoint)
          {
            padding-top:    5px;
            padding-bottom: 5px;
          }
        }

        &.active > a {.opacity(1.0);}
      }
    }
  }

  .navbar-toggle .icon-bar
  {
    background-color:#fff;
  }

  .navbar-collapse
  {
    .box-shadow(none);

    &.collapse.in,
    &.collapsing
    {
      .navbar-nav
      {
        background:fade(@mast-background, 60%);
      }
    }
  }

  .navbar-brand
  {
    padding-top:0;
    padding-bottom:0;
    .opacity(0.9);
  }

  .navbar-nav
  {
    > li
    {
      > a
      {
        padding-left:10px;
        padding-right:10px;
        color:#fff;
        color:rgba(255, 255, 255, 0.8);
        text-decoration:none;
        font-family:@font-family-serif;
        text-transform:lowercase;
        font-style:italic;
        font-size:24px;
        .transition(color 150ms ease-in);

        &:hover,
        &:focus
        {
          background:none;
          color:#fff;
        }
      }
    }
  }
}

#what-to-do-container
{
  li
  {
    margin-bottom:5px;
  }
}

#masthead,
#mastbutt
{
  height:300px;
  background:blue;

  .ribbon > div
  {
    height:8px;
  }
}

#masthead
{
  background:url('/images/masthead-background.jpg') 50% 0 no-repeat @mast-background;
  position:relative;
  top:0;
  left:0;

  .navbar
  {
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
  }

  .navbar-right
  {
    @media (min-width: @screen-sm-min)
    {
      margin-right:-(@navbar-padding-horizontal + @padding-base-horizontal);
    }
  }

  .ribbon
  {
    position:absolute;
    top:auto;
    bottom:0;
    left:0;
    width:100%;
  }
}

#mastbutt
{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background:url('/images/mastbutt-background.jpg') 50% 0 no-repeat @mast-background;
}

ul
{
  li.recommendation
  {
    background:@palette-ice-blue;
    border-radius:@border-radius-base;
    font-size:14px;
    color:darken(@palette-ice-blue, 50%);
    padding:5px 7px;
    line-height:1.2em;
    position:relative;
    top:0;
    left:0;
    margin-bottom:5px;
    display:inline-block;

    &:after
    {
      content:"";
      border-top:5px solid transparent;
      border-bottom:5px solid transparent;
      position:absolute;
      top:8px;
    }

    &:before
    {
      position:absolute;
      top:5px;
      content:"C&K";
      font-weight:500;
      font-size:16px;
      color:rgba(0, 0, 0, 0.4);
    }

    @media (min-width: @screen-sm-min)
    {
      &:after
      {
        left:-10px;
        border-right:10px solid @palette-ice-blue;
      }

      &:before
      {
        left:-13px;
        .translate(-100%, 0);
      }
    }

    @media (max-width: @screen-xs-max)
    {
      margin-right:50px;

      &:after
      {
        right:-10px;
        border-left:10px solid @palette-ice-blue;
      }

      &:before
      {
        right:-13px;
        .translate(100%, 0);
      }
    }
  }
}
