@import (reference) "_variables";
@import (reference) "bootstrap/_variables";
@import (reference) "bootstrap/less/mixins";
@import (reference) "bootstrap/less/tables";

.ribbon-variant(@color)
{
  @wrap-color:darken(saturate(@color, 10%), 12%);
  @back-color:darken(saturate(@color, 3%), 4%);

  > div
  {
    background-color:@color;
    
    &:nth-child(2)
    {
      color:mix(@color, #fff, 15%);

      .text-muted {color:mix(@color, #fff, 30%);}
    }

    &:first-child, &:last-child {background-color:darken(saturate(@color, 3%), 4%);}

    &:first-child:after
    {
      background-image:-moz-linear-gradient(20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:-webkit-linear-gradient(20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:-o-linear-gradient(20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:linear-gradient(20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
    }

    &:last-child:after
    {
      background-image:-moz-linear-gradient(-20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:-webkit-linear-gradient(-20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:-o-linear-gradient(-20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
      background-image:linear-gradient(-20.6deg, @back-color, @back-color 50%, @wrap-color 50%, @wrap-color);
    }
  }

  &.ribbon-flipped > div
  {
    &:first-child:after
    {
      background-image:-moz-linear-gradient(-20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:-webkit-linear-gradient(-20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:-o-linear-gradient(-20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:linear-gradient(-20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
    }

    &:last-child:after
    {
      background-image:-moz-linear-gradient(20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:-webkit-linear-gradient(20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:-o-linear-gradient(20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
      background-image:linear-gradient(20.6deg, @wrap-color, @wrap-color 50%, @back-color 50%, @back-color);
    }
  }
}

.ribbon
{
  margin:0;
  position:relative;
  top:0;
  left:0;
  text-align:center;
  line-height:0;

  > div
  {
    display:inline-block;
    padding:0;
    border:none;
    background-image:url('/images/texture.png');

    &:nth-child(2)
    {
      text-transform:lowercase;

      @media (max-width: @screen-xs-max)
      {
        width:~"calc(100% - 20px)";
      }

      h1,h2,h3,h4,h5,h6,
      .h1,.h2,.h3,.h4,.h5,.h6
      {
        font-style:italic;
        margin:11px 0;
      }
    }

    &:first-child,
    &:last-child
    {
      width:~"calc((100% - 750px) / 2)";
      height:100%;
      position:absolute;
      top:0;
      top:@ribbon-back-offset;
      background-image:url('/images/texture.png');

      @media (max-width: @screen-xs-max)
      {
        width:10px;
      }

      &:after
      {
        content:'';
        position:absolute;
        bottom:0;
        height:@ribbon-wrap-height;
        width:@ribbon-wrap-width;
        background:red;
        background-size:100% 100%;
        z-index:-1;
      }
    }

    &:first-child {left:0;}
    &:last-child {right:0;}

    &:first-child:after {right:-@ribbon-wrap-width;}
    &:last-child:after {left:-@ribbon-wrap-width;}
  }

  &.ribbon-flipped
  {
    > div
    {
      &:first-child,
      &:last-child
      {
        top:-@ribbon-back-offset;

        &:after {top:0;}
      }
    }
  }

  .ribbon-variant(#ccc);

  &.ribbon-beige {.ribbon-variant(@palette-beige);}
  &.ribbon-forest-green {.ribbon-variant(@palette-forest-green);}
  &.ribbon-gold {.ribbon-variant(@palette-gold);}
  &.ribbon-ice-blue {.ribbon-variant(@palette-ice-blue);}
  &.ribbon-violet {.ribbon-variant(@palette-violet);}
  &.ribbon-chartreuse {.ribbon-variant(@palette-chartreuse);}
  &.ribbon-brown {.ribbon-variant(@palette-brown);}
}