doctype html
html(lang='en')
  head
    title The Chris and Kaci Show!

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Roboto:500,500italic,400italic,300,300italic,400' rel='stylesheet' type='text/css')

    link(rel="shortcut icon" href="/images/favicon-16.png")

    // build:css styles/main.css
    link(href='/styles/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='/styles/app.css' rel='stylesheet')
    link(href='/styles/ribbon.css' rel='stylesheet')
    // endbuild

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
  body(data-spy="scroll" data-target="#fixed-nav")
    nav.primary-navbar.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#fixed-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="#").navbar-brand
            img(src="/images/masthead-mark.png" width="110")

        .collapse.navbar-collapse#fixed-nav
          ul.nav.navbar-nav.navbar-right
            li: a(href="#the-wedding") The Wedding
            li: a(href="#lodging") Lodging
            li: a(href="#eats") Eats
            li: a(href="#what-to-do") Austin Fun
            li: a(href="#registry") Registry

    #masthead
      nav.primary-navbar.navbar
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#masthead-nav')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand
              img(src="/images/masthead-mark@2x.png" width="220")

          .collapse.navbar-collapse#masthead-nav
            ul.nav.navbar-nav.navbar-right
              li: a(href="#the-wedding") The Wedding
              li: a(href="#lodging") Lodging
              li: a(href="#eats") Eats
              li: a(href="#what-to-do") Austin Fun
              li: a(href="#registry") Registry

      .ribbon.ribbon-gold: #[div] #[div.container] #[div]

    .container
      .row
        .col-sm-12
          a.nav-anchor(id='the-wedding')
          h1.h2.text-italic We're gettin' hitched!
      .row
        .col-sm-6.col-sm-push-6
          img.cuties(src="/images/cuties.png")
        .col-sm-6.col-sm-pull-6
          p The day has nearly arrived! Chris and Kaci are getting married!
          h2.h3.text-italic When?
          p Friday, April 10, 2015 at 6pm
          h2.h3.text-italic Where?
          address
            a(href="https://amalafoundation.org/community-center/event-space/" target="_blank") The Sanctuary at the Amala Foundation
            br
            | 1006 South 8th Street
            br
            | Austin, TX 78704
          h2.h3.text-italic Attire
          p Attire is dressy casual! Please be aware that the wedding will be outdoors. April weather in Austin fluctuates a bit; the last few years have been between 65 and 85. Ladies, the ground is soft so you may want to bring flats!
          .text-italic
            #[strong Note:] Parking is going to be very limited. Please carpool!
            //- We'll also be offering a shuttle from the hotels below to the ceremony and reception.

    .ribbon.ribbon-forest-green
      div
      div.container.text-center
        a.nav-anchor(id='lodging')
        h2 Where to stay #[span.text-muted &ndash; sweet group rates!]
      div

    .container
      .row
        .col-sm-6.hidden-xs
          iframe.google-map(
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.5827861676853!2d-97.73738399999999!3d30.391202999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cc7f5f0e3385%3A0x831ee2fcab32772e!2sTowneplace+Suites!5e0!3m2!1sen!2sus!4v1423430036685"
            frameborder="0"
          )
        .col-sm-6.col-xs-12
          h3 Marriott TownePlace Suites
          strong.text-violet.text-italic Recommended
          p
            | $119/night for a studio
            br
            | $159/night for a two bedroom suite
          address
            | 10024 North Capital of Texas Highway
            br
            | Austin, TX 78759
            br
            | (10.5 miles from ceremony &amp; reception)
          a.btn.btn-chartreuse(href="http://cwp.marriott.com/austw/hamtponlambe/") Reserve a room online
      .row
        .col-sm-6.hidden-xs
          iframe.google-map(
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.4420040121677!2d-97.72614899999994!3d30.39519900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cc768d66a8b1%3A0xbcbd71923388f7cd!2sLone+Star+Court!5e0!3m2!1sen!2sus!4v1423430579250"
            frameborder="0"
          )
        .col-sm-6.col-xs-12
          h3 Lone Star Court
          p
            | $149/night for 1-2 occupants
            br
            | $169/night for 3-4 occupants
          address
            | 10901 Domain Drive
            br
            | Austin, TX 78758
            br
            | (11.3 miles from ceremony &amp; reception)
          p
            | Call #[a(href="tel:8555963398") (855)-596-3398] to make a reservation
            br
            | #[strong Reference #:] 1504IHOLAM


    .ribbon.ribbon-forest-green
      div
      div.container.text-center
        a.nav-anchor(id='eats')
        h2 Where to eat #[span.text-muted &ndash; our favorite places!]
      div

    .container
      .row
        .col-sm-6
          mixin restaurant(data)
            li
              if data.link
                a(href="#{data.link}")
                  = data.name
                if data.dollars
                  |  
                  strong
                    - n = 0
                    while n < data.dollars
                      | $
                      - n++
                if data.details
                  |  #{data.details}
              else
                = data.name
            if data.recommendation
              li.recommendation= data.recommendation

          h3= locals.coffeeTea.name
          ul.list-unstyled
            each child in locals.coffeeTea.children
              +restaurant(child)

          h3= locals.breakfastBrunch.name
          ul.list-unstyled
            each child in locals.breakfastBrunch.children
              +restaurant(child)

          h3= locals.lunch.name
          ul.list-unstyled
            each child in locals.lunch.children
              +restaurant(child)

          h3= locals.lunchDinner.name
          ul.list-unstyled
            each child in locals.lunchDinner.children
              +restaurant(child)

        .col-sm-6
          h3= locals.dinner.name
          ul.list-unstyled
            each child in locals.dinner.children
              +restaurant(child)

          h3= locals.beerCocktails.name
          ul.list-unstyled
            each child in locals.beerCocktails.children
              +restaurant(child)

          h3= locals.treats.name
          ul.list-unstyled
            each child in locals.treats.children
              +restaurant(child)

    .ribbon.ribbon-forest-green
      div
      div.container.text-center
        a.nav-anchor(id='what-to-do')
        h2
          | What to Do 
          span.text-muted &ndash; You can't possibly be bored!
      div

    .container#what-to-do-container
      .row
        //- .col-sm-4
        .col-sm-12
          h3 Photography Workshop &amp; Walking Tour of Downtown Austin
          p Photography workshop and walking tour of the capital, Congress Avenue, and Sixth Street in downtown Austin with official wedding photographer Philip Rogers.
          p 3 hour tour. Minimum of four people; maximum of ten people (timing TBD; possibly 1-4 p.m. on Saturday). Discounted price for wedding guests!
          p
            | Philip Rogers
            br
            #[a(href='tel:2074594094') (207) 459-4094] or #[a(href='mailto:phil@philiprogersphotography.com') phil@philiprogersphotography.com]
            br
            a(href='http://philiprogersphotography.com/') philiprogersphotography.com
      .row
        .col-sm-6
          h3 Art
          ul.list-unstyled
            li
              a(href="http://artsciencegallery.com") Art Science Gallery
              br
              | A Kaci favorite!
            li
              a(href="http://www.hrc.utexas.edu") The Harry Ransom Center
              br
              | The Harry Ransom Center's two most prominent pieces in their collection include a #[a(href="http://en.wikipedia.org/wiki/Gutenberg_Bible") Gutenberg Bible] and the first successful permanent photograph.
            li: a(href="http://www.fuseboxfestival.com/2015-festival") Fusebox Festival
            li: a(href="http://www.austintexas.gov/Elisabetney") Elisabet Ney Museum

          h3 Relax
          ul.list-unstyled
            li: a(href="http://travel.usnews.com/Austin_TX/Things_To_Do/Zilker_Metropolitan_Park_11069") Barton Springs Pool
            li
              a(href="http://drafthouse.com/austin") Alamo Drafthouse
              br
              | Best. Movie theater. #[a(href="https://www.youtube.com/watch?v=1L3eeC2lJZs") Ever.]
            li: a(href="http://365thingsaustin.com/2012/09/26/best-places-to-spot-a-celebrity") The Hotel San Jose

          h3 So much more...
          ul.list-unstyled
            li
              | Looking for something else? Try this list:
              br
              a(href="http://365thingsaustin.com/2011/05/02/25-best-things-to-do-in-austin-texas") 25 Best Things to do in Austin, Texas

        .col-sm-6
          h3 Music
          h4 On South Congress
          ul.list-unstyled
            li: a(href="http://www.continentalclub.com/Austin.html") Continental Club
            li: a(href="http://cboysheartnsoul.com") C-Boy's Heart &amp; Soul!
          h4 Off the beaten path
          ul.list-unstyled
            li: a(href="http://thesaxonpub.com") Saxon Pub
            li: a(href="http://www.one2onebar.com") One-2-One Bar
            li: a(href="http://www.strangebrewaustin.com") Strange Brew
            li: a(href="http://www.saharalounge.com") The Sahara
          h4 Places to go two-steppin'
          ul.list-unstyled
            li: a(href="http://www.thewhitehorseaustin.com") The White Horse
            li: a(href="http://www.brokenspokeaustintx.com") The Broken Spoke

          h3 Sports
          ul.list-unstyled
            li: a(href="http://circuitoftheamericas.com/motogp") MotoGP
            li
              a(href="http://www.congresskayaks.com") Kayaks and Cocktails
              br
              | Just behind the Four Seasons on Ladybird Lake is a sweet little boat house that rents kayaks for $10/hour. After your paddle, hang out in the hotel's hammocks and enjoy a Mexican martini!
            li
              #[a(href="http://www.cap10k.com/homepage/about") Cap10K] (The largest 10K race in Texas!)

    .ribbon.ribbon-forest-green
      div
      div.container.text-center
        a.nav-anchor(id='registry')
        h2 Registry #[span.text-muted &ndash; adventure time!]
      div

    .container
      .row
        .col-sm-12
          h3 A note about gift registries and us
          p We're travelers. We care deeply about having great experiences, eating delicious local food together, and learning new cultures and customs. We're planning an extended travel adventure to commence in 2016 in which we'll visit some of our favorite cities (Paris, Nice, Tuscany) and spend time in new places (Switzerland, Japan, Thailand, and more!). Think of it as the ultimate honeymoon for two explorers and foodies.
          p For our wedding registry, we ask that you contribute to our travel honeymoon fund.
          p If you feel ultra compelled to contribute to our home, we've also created #[a(href="http://smile.amazon.com/registry/wedding/FBQE5XE5MD2E") a gift registry on Amazon].
          p Thank you for helping us realize our dream. We hope to see you April 10th!
          .text-center
            a.btn.btn-chartreuse.btn-honeyfund(href="http://www.honeyfund.com/wedding/chrisandkaci")
              img.honeyfund-logo(src="/images/honeyfund-logo.png")
              |  Contribute to our honeymoon fund!

    #mastbutt
      .ribbon.ribbon-flipped.ribbon-gold: #[div] #[div.container] #[div]

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    script(type="text/javascript").
      $(function() {
        $(document).scroll(function(e) {
          var methodName = $(this).scrollTop() > 260 ? 'addClass' : 'removeClass';
          $('.primary-navbar')[methodName]('in');
        });
      });

    script(type='text/javascript').
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0016/7920.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58713284-1', 'auto');
      ga('send', 'pageview');