@import (reference) "bootstrap/less/mixins";

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;
  .box-shadow(0 3px 0 darken(@background, 10%));
  text-shadow:0 1px 1px darken(@background, 15%);

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
    .box-shadow(0 3px 0 darken(@background, 20%));
  text-shadow:0 1px 1px darken(@background, 25%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}