@import (reference) "_variables";
@import (reference) "bootstrap/less/mixins";

.text-beige {.text-emphasis-variant(@palette-beige);}
.text-forest-green {.text-emphasis-variant(@palette-forest-green);}
.text-gold {.text-emphasis-variant(@palette-gold);}
.text-ice-blue {.text-emphasis-variant(@palette-ice-blue);}
.text-violet {.text-emphasis-variant(@palette-violet);}
.text-chartreuse {.text-emphasis-variant(@palette-chartreuse);}
.text-brown {.text-emphasis-variant(@palette-brown);}

.btn-beige {.button-variant(#fff;@palette-beige;transparent);}
.btn-forest-green {.button-variant(#fff;@palette-forest-green;transparent);}
.btn-gold {.button-variant(#fff;@palette-gold;transparent);}
.btn-ice-blue {.button-variant(#fff;@palette-ice-blue;transparent);}
.btn-violet {.button-variant(#fff;@palette-violet;transparent);}
.btn-chartreuse {.button-variant(#fff;@palette-chartreuse;transparent);}
.btn-brown {.button-variant(#fff;@palette-brown;transparent);}

.btn {text-decoration:none;}

strong
{
  font-weight:500;
}

.container {
  @media (min-width: @screen-md-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-sm;
  }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
{
  // -webkit-font-smoothing:antialiased;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
{
  margin-bottom:0;  
}

.text-italic
{
  font-style:italic;
}

body
{
  font-weight:300;
}

a
{
  text-decoration:underline;
  font-weight:500;
}